
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Id: @Model.Id
        Name: @Model.Name
        Address: @Model.HomeAddress.Line1 - @Model.HomeAddress.Line2
                 @Model.HomeAddress.Pincode
    </div>
</body>
</html>
